$primary-color: rgb(0, 225, 255);
$secondary-color: rgb(210, 249, 250);

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Raleway', serif;
    color: #020a26;
    font-size: 1.2rem;
    overflow-x: hidden;
    .response{
        
        text-decoration: none;
        height: 0;
        color: rgb(50, 82, 3);
        font-weight: bolder;
        padding: 20px;
        width: 50%;
        margin: 20px 0;
    }
    
    a{
        color: inherit;
        text-decoration: none;

    }
    a:hover{
        color:black;
    }
    
}
.intro{
    min-height: 100vh;
    display:flex;
    background-color: $primary-color;

    header{
        width: 40vw;
        padding:50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: $primary-color;
        border-radius: 0px;
        
        .logo{
            align-items: center;
            width: 35%;
            margin: auto 10px;
        }
        nav{
            align-self: right;
            font-size: 90%;
            ul{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                list-style: none;
                gap: 20px;
                li{
                    padding: auto 20px;
                    a{
                        transition: overline 0.3s ease-in;
                    }
                    a:hover{
                        color:$secondary-color;
                        text-decoration: overline;
                    }
                   
                }
            }
        }
        }
    }
    p{
        text-align: center;
        font-size: 150%;
        width:50%;
        margin: 50px auto;
    }

    .sub{
        
        font-size: 75%;
        font-family: 'Fredoka One', cursive;
    }
    .action-calls{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content:center;
                gap: 20px;
                button{
                    background-color: $secondary-color;
                    border-radius: 30px;
                    border: 1px solid $primary-color;
                    padding: 15px;
                    width: 25%;
                    font-size: 120%;
                    text-transform: uppercase;
                    font-family:'Raleway' 'Vidaloka', 'Times New Roman', Times, serif;
                    
                }
                
                button:hover{
                    background-color: #020a26;
                    color:$secondary-color;
                    a:hover{
                        color:$secondary-color;
                        
                    }
                }
                
               
            
    }
    
    div.intro-image{
        width: 60vw;
        img{
            width:100%;
            height: 100vh;
            object-fit: cover;
        }
    }

section.first{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    background:$secondary-color;

    .word{
        width:50%;
        margin: 40px auto auto;
       

        h2{
            text-align: center;
        }
       
        p{
            text-align: center;
            font-size: 150%;
            width:75%;
            margin: 50px auto;
            
        }
    }
    
    div.dentist-image{
        width: 60vw;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        margin:auto;
        padding: auto;
        
        img{
            height: 90vh;
            border-radius: 100%;
            z-index: 1;
        }
    }
}

.second{
    display: flex;
    background-color: rgba(2, 10, 38,.6);
    background-image: url(../images/pic5.jpeg);
    background-attachment: fixed;
    color: white;
    div{
        width: 50vw;
        text-align: center;
        font-size: 150%;
        width:75%;
        margin: 100px 80px;
        background-color: rgba(2, 10, 38,.3);
        border-radius: 5px;
        h2{
            font-size: 110%;
            font-family: 'Poiret One', sans-serif;
            color: $secondary-color;
            text-shadow: 2px 2px black;
        }
        ul{
            
            list-style: none;
            gap: 20px;
        }
         }
    .schedule{
        width: 50vw;
        h2{
            margin-top: 50px;
        }
        ul{
            
            margin-top: 50px;
        }
    }
}

#first{
    background-size: cover;
    background-image: url(../images/smilingwoman.jpeg);
 
    header{
        text-align:center;
        background-color: $primary-color;
        text-align: center;
        border-radius: 10px;
        margin: 20px auto 20px;
        padding: 15px;
        width:50vw; 
        border:2px solid black;
    }
}
div.content{
    
    padding: 40px;
    h1{
        text-align: center;
        text-decoration: underline;
    }
    ol{
        text-align:center;
        background-color: $primary-color;
        text-align: center;
        border-radius: 10px;
        margin: 20px auto 20px;
        padding: 15px;
        width:50vw; 
        border:2px solid black;
        list-style: none;
    }
}
.reviews{
    background-color: rgb(224, 241, 241);
    header{
        h2{
            text-align: center;
            padding-top: 50px;
        }
    }
   .content{
       padding: auto;
       p{
           margin: 0 auto;
           font-size: 75%;
           text-align: center;
           font-family: 'Jost', 'Times New Roman', Times, serif;
           font-weight: 600;
       }
       ul{
           display: flex;
           justify-content: center;
           align-items: center;
           flex-wrap: wrap;
     


            li{
                list-style: none;
                display: flex;
                padding: 30px auto;
                margin: 20px auto;
                width: 30%;
                justify-content: center;
                align-items: center;
                background-image: linear-gradient(to bottom right, $secondary-color 85%, $primary-color 15%);
                border-radius: 5px;
                border: 1px solid #020a26;
                border-width: 0 1px 1px 0;

                img{
                    width: 30%;
                    border-radius: 100%;
                    margin: auto 10px;
                    padding: 30px auto;
                   
                }
                p{
                    display: inline;
                    font-size:80%;
                    font-weight: 800;
                }
            }
        }
   }
}
.afters{
    background-color: #020a26;
    color: $secondary-color;
    width: 100vw;

    header{
        h2{
            text-align: center;
            margin: auto;
        }
    }
    .gallery{
            display: flex;
           justify-content: center;
           align-items: center;
           flex-wrap: wrap;
           width: 100vw;
           padding: 50px;
           a{
           
            padding: 10px;
            margin: 20px auto;
            width: 30%;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border: 1px solid #020a26;
            border-width: 0 1px 1px 0;
            img{
                width: 90%;
                border-radius: 10px;
                padding: 0;
                figcaption{
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

           }
           a:hover{
               color:$secondary-color;
           }
    }
}


.form-map{
    display: flex;
    min-height: 100vh;
    background-color: $primary-color;
    padding:50px;
    align-items: center;
    justify-content: space-around;
    width: 75vw;
    form{
        width: 50vw;
        padding-left: 50px;
        h2{
            text-decoration: underline;
            
        }
        input{
            padding: 5px;
            border-radius: 5px;
            font-family:'Raleway' 'Vidaloka', 'Times New Roman', Times, serif;

            
        }
        input:hover{
            background-color: rgb(231, 226, 226);
            
        }
        input[type=submit] {
            background-color: $secondary-color;
            border-radius: 10px;
            border: 1px solid $primary-color;
            padding: 10px 5px;
            margin: auto;
            text-transform: uppercase;
            font-family:'Raleway' 'Vidaloka', 'Times New Roman', Times, serif;
            margin-left: 12%;
            
        }
        
        input[type=submit]:hover{
            background-color: #020a26;
            color:$secondary-color;
             
            }
    .map{
        width: 30%;
        img{
            width: 70%;
        }
    }
}
}

.addresses{
    display: flex;
    min-height: 100vh;
    background-color: $secondary-color;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
    h3{ text-decoration: underline;}
    .quick-links{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border-right: 1px solid black;
            padding-right: 20px;
            h3{ text-decoration: underline;}
           
            a{
                color: black;
                text-decoration: underline;
                padding: 10px auto;
            }
            a:hover{
                color: blue;
                text-decoration: underline;
                
            }

        }
        .contacts{
            h3{ text-decoration: underline;}
            ul{
                list-style: none;
                border-right: 1px solid black;
                padding-right: 20px;
            }
            li{
                padding: 15px auto;
                a{
                    color: rgb(53, 14, 68);
                    text-decoration: underline;

                }
                a:hover{
                    color: blue;
                }
            }
        }
        .location{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-left: 30px;
        }
    
}
footer{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $secondary-color;

    a{
        color: black;
        text-decoration: underline;
        padding: 10px auto;
    }
    a:hover{
        color: blue;
        text-decoration: underline;
        
    }
}